In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [0]:
names = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
dataset = pd.read_csv('iris.csv', names=names)

In [3]:
dataset.shape

(150, 5)

In [4]:
dataset.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [5]:
X = dataset.drop('Species', axis=1)
y = dataset['Species'] 
X.shape
X.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=0)

In [7]:
model = SVC(kernel='poly', degree=8)  
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=8, gamma='auto_deprecated',
    kernel='poly', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
y_pred = model.predict(X_test)

In [9]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

              Actual        Predicted
114   Iris-virginica   Iris-virginica
62   Iris-versicolor  Iris-versicolor
33       Iris-setosa      Iris-setosa
107   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa
100   Iris-virginica   Iris-virginica
40       Iris-setosa      Iris-setosa
86   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor
71   Iris-versicolor  Iris-versicolor
134   Iris-virginica   Iris-virginica
51   Iris-versicolor  Iris-versicolor
73   Iris-versicolor   Iris-virginica
54   Iris-versicolor  Iris-versicolor
63   Iris-versicolor  Iris-versicolor
37       Iris-setosa      Iris-setosa
78   Iris-versicolor  Iris-versicolor
90   Iris-versicolor  Iris-versicolor
45       Iris-setosa      Iris-setosa
16       Iris-setosa      Iris-setosa
121   Iris-virginica   Iris-virginica
66   Iris-versicolor  Iris-versicolor
24       Iris-setosa      Iris-setosa
8        Iris-setosa      Iris-setosa
126   Iris-virginica   Iris-virginica
22       Iris-setosa      Iris-setosa
44       Iris-setosa      Iris-setosa
97   Iris-versicolor  Iris-versicolor
93   Iris-versicolor  Iris-versicolor
26       Iris-setosa      Iris-setosa

In [10]:
confusionMatrix = confusion_matrix(y_test, y_pred)
accuracyScore = accuracy_score(y_test, y_pred)
classificationReport = classification_report(y_test, y_pred)
print(confusionMatrix)
print(accuracyScore * 100)
print(classificationReport)

[[11  0  0]
 [ 0 12  1]
 [ 0  0  6]]
96.66666666666667
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       1.00      0.92      0.96        13
 Iris-virginica       0.86      1.00      0.92         6

       accuracy                           0.97        30
      macro avg       0.95      0.97      0.96        30
   weighted avg       0.97      0.97      0.97        30